@import "@styles"

.circle-number
  display: inline-flex
  align-items: center
  justify-content: center
  width: 20px
  height: 20px
  border-radius: 50%
  background-color: $secondary-color
  color: $primary-background-color
  font-weight: 500
  font-size: 11px
