@import "@styles"

.navbar
  &__link
    padding: 0 20px
    font-weight: 500
    color: #1c1e21
    font-size: 17px
    text-decoration: none

    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0

    &:hover:not(.current)
      color: #ff5875

    &.current
      text-decoration: underline
      cursor: default
