
.notification-panel
  position: relative
  display: inline-block

  &__number
    position: absolute
    top: -6px
    right: -7px

  &__title
    display: flex
    align-items: center
    gap: 5px

    & *:last-child
      margin-bottom: 25px

  &__buttons
    display: flex
    align-items: center
    padding-right: 8px
    gap: 15px

  &__content
    max-height: 34vh
    overflow-y: scroll
    padding-right: 8px
    margin-top: 20px
    display: flex
    flex-direction: column
    gap: 5px

  ::-webkit-scrollbar
    width: 6px

  ::-webkit-scrollbar-track
    background: transparent
    border-radius: 10px

  ::-webkit-scrollbar-thumb
    background: #a0aec0
    border-radius: 10px

  ::-webkit-scrollbar-thumb:hover
    background: #718096

// TODO raname
.x
  min-width: 400px

  h4
    margin: 5px 0 15px 0
